<div class="overlay">
  <div class="popup">
    <h2>{{ currentTask?.title }}</h2>
    <hr />
    <button class="close" href="#" (click)="OnCloseTaskDetail()">
      &times;
    </button>
    <div class="content">
      <section class="container">
        <h3>Description</h3>
        <p class="task-desc">
          {{ currentTask?.desc }}
        </p>
        <div style="display: flex; margin-top: 20px">
          <div class="task-detail">
            <strong>Assigned To: </strong>
            {{ currentTask?.assignedTo }}
          </div>
          <div class="task-detail">
            <strong>Created At: </strong>
            {{ currentTask?.createdAt }}
          </div>
        </div>
        <div style="display: flex; margin-top: 20px">
          <div class="task-detail">
            <strong>Priority: </strong>
            {{ currentTask?.priority }}
          </div>
          <div class="task-detail">
            <strong>Current Status: </strong>
            {{ currentTask?.status }}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
