.container strong {
  font-size: 1.4rem;
}

.popup-task-detail {
  height: auto;
}

.task-desc {
  margin-top: 2rem;
  font-size: 1.2rem;

  @media only screen and (max-width: 30em) {
    font-size: 1.6rem;
  }
}

.task-detail-container {
  display: flex;
  margin-top: 4rem;
}

.task-detail {
  width: 50%;
  font-size: 1.4rem;
}

.no-task {
  font-size: 1.6rem;
  margin-top: 2rem;
  text-align: center;
}
