<div class="app-header">
  <!-- APP LOGO -->
  <div class="app-header-logo">
    <h2>TaskMaster</h2>
  </div>

  <!-- APP NAVBAR -->
  <div class="app-header-navbar" [ngClass]="{ open: isMenuOpen }">
    <ng-container *ngFor="let link of navLinks">
      <ng-container *ngIf="shouldShowLink(link)">
        <a
          *ngIf="!link.isDropdown"
          [routerLink]="link.routerLink"
          (click)="OnCloseMenu(); toggleDropdownMenu()"
          >{{ link.label }}</a
        >

        <ng-container *ngIf="link.isDropdown">
          <div class="dropdown">
            <button class="dropbtn" (click)="toggleDropdownMenu()">
              {{ link.label }}
              <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content" [ngClass]="{ open: isDropdownOpen }">
              <a
                *ngFor="let dropdownLink of link.dropdownLinks"
                [routerLink]="dropdownLink.routerLink"
                (click)="OnCloseMenu(); toggleDropdownMenu()"
              >
                {{ dropdownLink.label }}
              </a>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <a *ngIf="isLoggedIn" (click)="onLogout()">Logout</a>

    <button class="menu-close-icon" href="#" (click)="OnCloseMenu()">
      &times;
    </button>
  </div>

  <i class="fas fa-bars" (click)="OnOpenMenu()"></i>
</div>
