<div class="task-status-container" setTaskBackground [status]="status">
  <div class="task-status-header">
    <span class="number-of-task">{{ tasks?.length }}</span>
    <h3>{{ status | uppercase }}</h3>
  </div>

  <ng-container *ngIf="tasks?.length < 1">
    <p class="no-tasks-yet">No tasks have been created yet.</p>
  </ng-container>

  <ng-container *ngFor="let task of tasks || []">
    <app-task-card
      [task]="task"
      [currentUser]="currentUser"
      (editTask)="editTask.emit(task.id)"
      (deleteTask)="deleteTask.emit(task.id)"
      (showDetails)="showDetails.emit(task.id)"
    ></app-task-card>
  </ng-container>

  <button class="create-task-btn in-table" (click)="createTask.emit()">
    Add new task
  </button>
</div>
