<div class="home-page-container">
  <div class="home-page-content">
    <h1>Welcome to TaskMaster</h1>
    <p class="hero-main-para">
      TaskMaster is your ultimate solution for efficient task management and
      project tracking. Whether you are working individually or as part of a
      team, TaskMaster provides all the tools you need to stay organized and
      productive.
    </p>

    <h2>Key features of TaskMaster include:</h2>

    <ul>
      <li>Easy task creation and assignment</li>
      <li>Real-time collaboration and communication</li>
      <li>Customizable project dashboards</li>
      <li>Detailed reporting and analytics</li>
      <li>Integrations with popular tools and services</li>
    </ul>

    <p class="hero-sub-para">
      Start using TaskMaster today and take control of your tasks like never
      before. Sign up now and experience the difference!
    </p>

    <button class="hero-btn" routerLink="/login">Get started</button>
  </div>
  <figure class="illustration">
    <img
      src="assets/20945628.jpg"
      alt="Task management illustration"
      class="illustration-img"
    />
  </figure>
</div>
