.dashboard-container {
  padding: 3rem 10rem;

  @media only screen and (max-width: 48em) {
    padding: 3rem;
  }
}

.dashboard-header {
  display: flex;
  gap: 2rem;

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
  }
}

.task-complete {
  background-color: #43e870;
}
.task-in-progress {
  background-color: #ffa933;
}
.task-started {
  background-color: #336bff;
}
.task-open {
  background-color: #ff5733;
}

.dashboard-header--left {
  flex-basis: 50%;
  align-items: center;
  display: flex;
  gap: 1rem;

  @media only screen and (max-width: 30em) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.search-form {
  @media only screen and (max-width: 30em) {
    width: 100%;
  }
}

.search-form input {
  padding: 1rem;
  border-radius: 4rem;
  outline: none;

  @media only screen and (max-width: 30em) {
    width: 100%;
  }
}

hr {
  border: #dedede 0.15rem solid;
  margin: 2rem 0px;
}

.dashboard-item-container {
  margin-top: 3rem;
  padding: 3rem 5rem;
  border: #dedede 0.15rem solid;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;

  @media only screen and (max-width: 48em) {
    padding: 2rem;
  }
}

.task-status-container {
  height: fit-content;
  border-radius: 1.5rem;
  padding: 1rem;
}

.task-status-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.task-status-header h3 {
  font-size: 1.6rem;
}

.number-of-task {
  width: 2rem;
  height: 2rem;
  font-weight: 600;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.no-tasks-yet {
  font-size: 1.4rem;
  color: whitesmoke;
  text-align: center;
  padding: 2rem;
}

.create-task-btn {
  padding: 1rem 2rem;
  background-color: #28282b;
  border: #cdcdcd 1px solid;
  color: white;
  margin: 0px 2px;
  border-radius: 2rem;
}

.create-task-btn.in-table {
  width: 100%;
  border: 2px dotted whitesmoke;
  background-color: transparent;
}
