<app-create-task
  *ngIf="showCreateTaskForm"
  (CloseForm)="CloseCreateTaskForm($event)"
  (EmitTaskData)="CreateOrUpdateTask($event)"
  [isEditMode]="editMode"
  [selectedTask]="selectedTask"
>
</app-create-task>

<app-task-details
  *ngIf="showTaskDetails"
  (CloseDetailView)="CloseTaskDetails($event)"
  [currentTask]="currentTask"
></app-task-details>

<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="dashboard-header--left">
      <h2>Dashboard</h2>

      <form
        action="#"
        class="search-form"
        #searchForm="ngForm"
        (ngSubmit)="SearchTask(searchForm)"
      >
        <input
          type="text"
          name="searchQuery"
          placeholder="Search for task..."
          ngModel
          required
        />
      </form>
    </div>

    <div style="flex-basis: 50%; text-align: right">
      <button class="create-task-btn" (click)="OpenCreateTaskForm()">
        Create Task
      </button>
      <button class="create-task-btn" (click)="FetchAllTaskClicked()">
        Fetch Tasks
      </button>
      <button class="create-task-btn" (click)="DeleteAllTask()">
        Clear Tasks
      </button>
    </div>
  </div>

  <hr />

  <app-snackbar
    [errorMessage]="errorMessage"
    *ngIf="errorMessage"
  ></app-snackbar>

  <app-loader *ngIf="isLoading"></app-loader>

  <div
    style="text-align: center"
    *ngIf="allTasks.length < 1 || searchedTasks.length < 1"
  >
    <h2>No tasks found.</h2>
  </div>

  <div class="dashboard-item-container" *ngIf="!isLoading">
    <ng-container *ngFor="let status of statuses">
      <div class="task-status-container" setTaskBackground [status]="status">
        <div class="task-status-header">
          <span class="number-of-task">{{ tasksByStatus[status].length }}</span>
          <h3>{{ status | uppercase }}</h3>
        </div>

        <ng-container *ngIf="tasksByStatus[status]?.length < 1">
          <p class="no-tasks-yet">No tasks have been created yet.</p>
        </ng-container>

        <ng-container *ngFor="let task of tasksByStatus[status] || []">
          <app-task-card
            [task]="task"
            [currentUser]="currentUser"
            (editTask)="OnEditTaskClicked(task.id)"
            (deleteTask)="DeleteTask(task.id)"
            (showDetails)="showCurrentTaskDetails(task.id)"
          ></app-task-card>
        </ng-container>

        <button class="create-task-btn in-table" (click)="OpenCreateTaskForm()">
          Add new task
        </button>
      </div>
    </ng-container>
  </div>
</div>
