<app-create-task
  *ngIf="showCreateTaskForm"
  (CloseForm)="closeCreateTaskForm()"
  (EmitTaskData)="createOrUpdateTask($event)"
  [isEditMode]="editMode"
  [selectedTask]="selectedTask"
>
</app-create-task>

<app-task-details
  *ngIf="showTaskDetails"
  (CloseDetailView)="closeTaskDetails()"
  [currentTask]="currentTask"
></app-task-details>

<app-delete-task-dialog
  *ngIf="showTaskDeleteModal"
  (CloseTaskDeleteModal)="closeTaskDeleteDialog()"
  (SuccessDeletedTask)="successDeletedTask()"
  [currentTaskId]="taskToDeleteId"
></app-delete-task-dialog>

<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="dashboard-header--left">
      <h2>Dashboard</h2>

      <form
        action="#"
        class="search-form"
        #searchForm="ngForm"
        (ngSubmit)="SearchTask(searchForm)"
      >
        <input
          type="text"
          name="searchQuery"
          placeholder="Search for task..."
          ngModel
          required
        />
      </form>
    </div>

    <div style="flex-basis: 50%; text-align: right">
      <button class="create-task-btn" (click)="OpenCreateTaskForm()">
        Create Task
      </button>
      <button class="create-task-btn" (click)="FetchAllTaskClicked()">
        Fetch Tasks
      </button>
      <button class="create-task-btn" (click)="DeleteAllTask()">
        Clear Tasks
      </button>
    </div>
  </div>

  <hr />

  <app-snackbar
    [errorMessage]="errorMessage$ | async"
    *ngIf="errorMessage$ | async"
  ></app-snackbar>

  <app-loader *ngIf="isLoading$ | async"></app-loader>

  <div
    style="text-align: center"
    *ngIf="
      (allTasks$ | async)?.length < 1 || (filteredTasks$ | async)?.length < 1
    "
  >
    <h2>No tasks found.</h2>
  </div>

  <div class="dashboard-item-container" *ngIf="!(isLoading$ | async)">
    <ng-container *ngFor="let status of statuses">
      <div class="task-status-container" setTaskBackground [status]="status">
        <div class="task-status-header">
          <span class="number-of-task">{{
            (tasksByStatus$ | async)[status]?.length
          }}</span>
          <h3>{{ status | uppercase }}</h3>
        </div>

        <ng-container *ngIf="(tasksByStatus$ | async)[status]?.length < 1">
          <p class="no-tasks-yet">No tasks have been created yet.</p>
        </ng-container>

        <ng-container
          *ngFor="let task of (tasksByStatus$ | async)[status] || []"
        >
          <app-task-card
            [task]="task"
            [currentUser]="currentUser$ | async"
            (editTask)="OnEditTaskClicked(task.id)"
            (deleteTask)="DeleteTask(task.id)"
            (showDetails)="showCurrentTaskDetails(task.id)"
          ></app-task-card>
        </ng-container>

        <button class="create-task-btn in-table" (click)="OpenCreateTaskForm()">
          Add new task
        </button>
      </div>
    </ng-container>
  </div>
</div>
