.dashboard-container {
  padding: 3rem 10rem;

  @media only screen and (max-width: 48em) {
    padding: 3rem;
  }
}

.dashboard-header {
  display: flex;
  gap: 2rem;

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
  }
}

.dashboard-header--left {
  flex-basis: 50%;
  align-items: center;
  display: flex;
  gap: 1rem;

  @media only screen and (max-width: 30em) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.search-form {
  @media only screen and (max-width: 30em) {
    width: 100%;
  }
}

.search-form input {
  padding: 1rem;
  border-radius: 4rem;
  outline: none;

  @media only screen and (max-width: 30em) {
    width: 100%;
  }
}

hr {
  border: #dedede 0.15rem solid;
  margin: 2rem 0px;
}

.dashboard-item-container {
  margin-top: 3rem;
  padding: 3rem 5rem;
  border: #dedede 0.15rem solid;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;

  @media only screen and (max-width: 48em) {
    padding: 2rem;
  }
}

.task-status-container {
  height: fit-content;
  border-radius: 1.5rem;
  padding: 1rem;
}

.task-status-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.task-status-header h3 {
  font-size: 1.6rem;
}

.number-of-task {
  width: 2rem;
  height: 2rem;
  font-weight: 600;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.task-action-icons {
  text-align: right;
}

.task-action-btn {
  margin: 0px 0.5rem;
  border: none;
  background-color: transparent;
}

i {
  font-size: 1.6rem;
}

.task-item {
  margin: 1.5rem 0;
  padding: 1.5rem 3rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.task-complete {
  /* background-color: #33ff6b; */
  background-color: #61a010;
}
.task-in-progress {
  background-color: #ffa933;
}
.task-started {
  background-color: #336bff;
}
.task-open {
  background-color: #ff5733;
}

.task-title {
  border-bottom: #28282b 2px solid;
}

.create-task-btn {
  padding: 1rem 2rem;
  background-color: #28282b;
  border: #cdcdcd 1px solid;
  color: white;
  margin: 0px 2px;
  border-radius: 2rem;
}
.create-task-btn.in-table {
  width: 100%;
  border: 2px dotted whitesmoke;
  background-color: transparent;
}

.loader {
  border: 1.6rem solid #f3f3f3; /* Light grey */
  border-top: 1.6rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sb {
  min-width: 35rem; /* Set a default minimum width */
  margin-left: -12.5rem; /* Divide value of min-width by 2 */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 1.6rem; /* Padding */
  border-radius: 5px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 4rem; /* 30px from the bottom */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.sb-error {
  background-color: #e74c3c; /* Black background color */
  color: #fff; /* White text color */
}

.sb-success {
  background-color: #1abc9c; /* Black background color */
  color: #28282b; /* White text color */
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 40px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 40px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
